name: Sync to Databricks

on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: arc-runner-set
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Databricks CLI
        uses: databricks/setup-cli@v0.214.0  # same version रखो, काम कर रहा है

      - name: Pull changes into Databricks Repo
        run: databricks repos update 1620491462867537 --branch main
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
